<section class="banner style1 orient-left content-align-center image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <div>
      <img style ="width:35%;" src="https://ww2.ufps.edu.co/public/archivos/elementos_corporativos/logoufps.png" alt="" />
    </div>
    <h1>Administrador proyectos de Aula</h1>
    <ul class="actions stacked">
      <li>
        <button routerLink="../registro" class="button big wide smooth-scroll-middle"
        routerLinkActive="active">Iniciar sesión con Google</button>
      </li>
    </ul>
    <div class="inner">
      <ul class="icons">
        <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
      </ul>
    </div>
  </div>
  <div class="image">
    <img src="https://caracol.com.co/resizer/pLzuAzhMbIXcOANfciWtuP-z4qs=/768x576/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/prisaradioco/ML7AKXWCUNJS3HUYOHT4UY5GHI.jpg" alt="" />
  </div>
</section>